@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #0c0c0ce8;
  background-color: #838282;
}

.header {
  background-image: url(/bg1.jpg);
  background-position: 100% 40%;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.nav {
  height: 15vh;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 1rem;
}

.nav-title {
  font-family: "Monoton", cursive;
  font-size: 5rem;
  text-align: center;
  color: #fff;
}

.watch-list {
  cursor: pointer;
}

#open-btn {
  color: #fff;
  padding: 1rem 0.5rem;
  font-size: 2rem;
}

.fa-list {
  color: #fff;
  font-size: 2rem;
}

.search-container {
  // margin-top: 5vh;
  // padding: 1rem 2rem;
}

.search {
  width: 20rem;
  padding: 0.9rem 0.8rem;
  border: none;
  border-radius: 2px;
  // background: rgb(161, 161, 161);
}

//////////////////////////

.container {
  margin: 2rem;
  display: grid;
  grid-gap: 2rem 5rem;
  grid-template-columns: repeat(2, minmax(20rem, 1fr));
  background-size: cover;
}

.movie {
  display: flex;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  position: relative;
  // background-color: #293c72;
  background-color: #041c35;
}

.title {
  font-weight: 900;
  font-size: 1.3rem;
  color: #fff;
  // max-width: 9rem;
}

.list-icon {
  margin-right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.list-icon:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.list-icon:active {
  color: black;
  top: 2px;
}

.fa-clock.scale {
  transform: scale(1.3);
}

.date {
  font-weight: 700;
  color: rgb(170, 164, 164);
}

.poster {
  width: 10rem;
  padding: 0.1rem;
}

.movieinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 0.7rem;
  color: rgba(255, 255, 255, 0.819);
}

.movie-head {
  display: flex;
  justify-content: space-between;
}

.fa-star {
  color: rgb(245, 197, 24);
}
.overview {
  padding-right: 2rem;
  overflow: hidden;
  text-overflow: clip;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}

// *! MODAL//////////////////////////////////////

#modal-background {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#modal {
  background-color: #838282;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85vw;
  height: 50vh;
  overflow: scroll;
  padding: 10px 20px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  animation-name: animatemodal;
  animation-duration: 0.4s;
  position: relative;
  color: #fff;
}

@keyframes animatemodal {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

.infocontainer {
  // padding: 0.4rem;
  // border: 1px solid red;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.modalMovieImg {
  width: 75px;
  height: 80px;
  border-radius: 50%;
}
.modalMovieTitle {
  font-size: 1rem;
  max-width: 7rem;
  min-width: 7rem;
  text-align: center;
}
.modalMovieVote {
  font-size: 1rem;
  min-width: 2rem;
  text-align: center;
}

#close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
}

#close-btn:hover {
  cursor: pointer;
  color: #ff0000;
}

footer {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  text-align: center;
  font-size: 1.2rem;
  color: #041c35;
}

// *! Media queries//////////////////////////////////////

@media (max-width: 850px) {
  .title {
    font-size: 1.1rem;
    max-width: 7rem;
  }

  :root {
    --size: 70px;
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(1, minmax(20rem, 1fr));
  }

  .poster {
    width: 8rem;
  }

  .container {
    margin: 1rem;
  }

  .nav-title {
    font-size: 4rem;
  }

  .search {
    width: 16rem;
    padding: 0.6rem 0.7rem;
  }

  #open-btn,
  .fa-clock {
    font-size: 1.7rem;
  }

  #modal {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 650px) {
  #close-btn {
    font-size: 1.5rem;
  }
  .nav-title {
    font-size: 3rem;
    padding-top: 1rem;
  }

  .search {
    width: 13rem;
    padding: 0.4rem 0.5rem;
  }

  #open-btn,
  .fa-clock {
    font-size: 1.5rem;
  }
}

@media (max-width: 468px) {
  .nav {
    flex-direction: column;
  }

  .nav-title {
    font-size: 2.7rem;
    padding-top: 1.5rem;
  }

  .search {
    // width: 10rem;
    // padding: 0.3rem 0.4rem;
  }

  #open-btn,
  .fa-clock {
    font-size: 1.3rem;
  }
}

@media (max-width: 350px) {
  .nav-title {
    font-size: 2.3rem;
  }

  .movie {
    width: 90vw;
  }

  #open-btn,
  .fa-clock {
    font-size: 1.1rem;
  }
}

// *! Tick animation//////////////////////////////////////

.label__checkbox {
  display: none;
}

.label__check {
  display: inline-block;
  text-align: center;
  margin-left: 10px;
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.1);
  vertical-align: middle;
  margin-right: 20px;
  width: 2em;
  height: 2em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 0.3s ease;
  background-color: #fff;

  i.icon {
    opacity: 0.2;
    font-size: "calc(1rem + 1vw)";
    color: transparent;
    transition: opacity 0.3s 0.1s ease;
    -webkit-text-stroke: 3px rgba(0, 0, 0, 0.5);
  }

  &:hover {
    border: 5px solid rgba(0, 0, 0, 0.2);
  }
}

.label__checkbox:checked + .label__text .label__check {
  animation: check 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards;

  .icon {
    opacity: 1;
    transform: scale(0);
    color: white;
    -webkit-text-stroke: 0;
    animation: icon 0.3s cubic-bezier(1, 0.008, 0.565, 1.65) 0.1s 1 forwards;
  }
}

@keyframes icon {
  from {
    opacity: 0;
    transform: scale(0.3);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes check {
  0% {
    width: 1.5em;
    height: 1.5em;
    border-width: 5px;
  }
  10% {
    width: 1.5em;
    height: 1.5em;
    opacity: 0.1;
    background: rgba(0, 0, 0, 0.2);
    border-width: 15px;
  }
  12% {
    width: 1.5em;
    height: 1.5em;
    opacity: 0.4;
    background: rgba(0, 0, 0, 0.1);
    border-width: 0;
  }
  50% {
    width: 2em;
    height: 2em;
    background: #00d478;
    border: 0;
    opacity: 0.6;
  }
  100% {
    width: 2em;
    height: 2em;
    background: #00d478;
    border: 0;
    opacity: 1;
  }
}
